include /_mixins.pug

doctype html
html(lang='en-US')
  head
    title Sushi Restaurant Website
    link(rel='stylesheet', href='/dist/style.min.css')
    link(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" 
    rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" 
    crossorigin="anonymous")
    +javascript_dist('lib.min', 'handlebars_templates.min')

  body
    include ./partials/header
    main
      #content
        block content
    
    +javascript_dist('components.min')
    //- +javascript_include('app')
    //- +javascript_include('models/item', 'models/cartItem')
    //- +javascript_include('collections/items', 'collections/cartItems')
    //- +javascript_include('views/index', 'views/itemDetails', 'views/cartItems', 'views/checkout')
    script(type="text/javascript").
      App.items = new Items(!{JSON.stringify(items)});
      App.init();
    //- +javascript_include('router')
    +javascript_dist('router.min')
    block scripts